
<nav class="navbar navbar-default navbar-static-top" role="navigation">
    
    <ul class="nav navbar-nav">
       
        <li class="active">
            <a routerLink="/home">Home</a>
        </li> <li class="active">
            <a routerLink="/editprofile">Editprofile</a>
        </li> <li class="active">
            <a routerLink="/changepwd">Change password</a>
        </li> <li class="active">
            <a routerLink="/checkavailability">check book availibility</a>
        </li> <li class="active">
            <a routerLink="/addbook">add new book</a>
        </li> <li class="active">
            <a routerLink="/addcopy">add new copy</a>
        </li> <li class="active">
            <a routerLink="/returnbook">return book</a>
        </li> <li class="active">
            
            <a routerLink="/isssuebook">isssue book</a>
        </li> <li class="active">
            <a routerLink="/listissued">list of issued book</a>
        </li> <li class="active">
            <a routerLink="/addmember">add new member</a>
        </li> <li class="active">
            <a routerLink="/takepayment">take payment</a>
        </li>
     </li> <li class="active">
        <a routerLink="/paymenthistory">payment history</a>
    </li> <li class="active">
        <a routerLink="/listuser">list of all users</a>
    
    </ul>
</nav>
<hr>
<router-outlet></router-outlet>
